/* panel and nav*/
.adminPanel{
    display: flex;
   /*  grid-template-columns: 20% 80%; */
   /*  height: 80vh; */
    padding: 20px;
    gap: 10px;

}



/* 
.igo{position: absolute;
    bottom: 13px;
    left: 30px;
    background: #4f4f4f;
    color: white;
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 50px;} */
.adminSection{
    background-color: #f1f1f1;
    padding: 10px;
        border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}
.adminSection ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.adminSection li{
    padding: 5px;
    border-bottom: 1px solid #ccc;
    margin: 15px 0;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}
.adminSection li:hover{
    color: rgb(15, 102, 225);
}
.hidenIcon{
    display: none;
}
.adminSection li:hover .hidenIcon{
    display:block;
 position: relative;
}
.adminSection li:hover .hidenIcon div{
    position: absolute;
    width: 150px;
    bottom: 13px;
    left: 35px;
    background: #4f4f4fad;
    color: white;
    font-weight: bolder;
    padding: 5px 5px;
    font-size: 0.75rem;
   border-top-left-radius: 50px;
   border-bottom-right-radius: 50px;
   box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}




.adminSectionDetails{
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}







/*add product component*/
.addProductSection{
    text-align: center;
    padding: 10px;
}
.addProductSection input[type="text"], .addProductSection input[type="number"]{
    width: 90%;
  
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
.addProductSection select{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
.addProductSection input[type="file"]{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
.addProductSection textarea{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
.addProductSection button{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    cursor: pointer;
}



/*dashboard home  component*/
.homepanel{
    margin: 10px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
justify-content: space-between;

}
 .panel{
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    box-shadow: 1px 1px 26px 3px rgba(58, 58, 58, 0.2);    padding: 10px 20px;
    margin: 15px 0;
}
.panel div{
    display: flex;
    align-items: baseline;
    justify-content: space-between;    
}
.panel i{
    font-size: 40px;
    color: black;
}
.panel p{
    background-color: #9A208C;
    padding: 5px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    border: 2px solid #692161;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    min-width: 80px;
    text-align: center;
}
.panel span{
    display: block;
    color: black;
    font-size: 30px;
}

.demopiegraph{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}
.demopiegraph > div{
    max-width: 500px;
    border: 3px solid #a3a3a369;
  
}
.demopiegraph p{background: #f7f7f7;
    padding: 10px;
    border: 3px solid #a3a3a369;
    color: #000;
    font-size: 20px;}