/* all styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* header */
/* end of header */








/*footer*/
.footerSection{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-content: space-around;
    justify-items: center;
    background-color: #eaf6ff;
    padding: 20px;
}
.footerSection > div{
    margin: 10px 30px;
}
.footerContact{padding: 10px;}
.footerContact i{
    margin: 0 10px;
    font-size: 25px;
}

/* end footer*/
 /* copyright section*/
 .copyRight{
    background-color: #121212;
    padding: 10px;
    text-align: center;
    color: #ffffff;}


